@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin;
    scrollbar-color: #000;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}

html.dark * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) !important;
}

html.dark *::-webkit-scrollbar {
    width: 10px;
}

html.dark *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 5px;
}

html.dark *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 14px;
}

@layer base {
}

@layer components {
    .btn {
        @apply inline-block px-6 py-3 font-bold leading-normal text-center uppercase align-middle transition-all ease-in rounded-lg shadow-xs cursor-pointer bg-gradient-to-tl tracking-tight-rem bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md;
    }

    .input {
        @apply focus:shadow-primary-outline text-sm leading-5.6 ease-linear block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none dark:bg-slate-400/10 dark:border-slate-900 dark:text-slate-200;
    }

    .input-checkbox {
        @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
    }

    .input-radio {
        @apply text-blue-600 bg-gray-100 border-gray-300 cursor-pointer focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
    }

    .select {
        @apply focus:shadow-primary-outline text-sm leading-5.6 ease-linear block w-full rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none dark:bg-slate-400/10 dark:border-slate-900 dark:text-slate-400;
    }

    label.error {
        @apply text-rose-600;
    }

    .input.error,
    .select.error {
        @apply !border-rose-500 focus:shadow-rose-300/20 placeholder:text-rose-600;
    }

    .fade-opacity {
        @apply duration-300 ease-in-out opacity-100;
    }
}
